<!DOCTYPE html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{bio}}</p>
        <p>
            <a href="http://www.twitter.com/{{twitter}}">Twitter</a>,
            <a href="http://www.github.com/{{github}}">GitHub</a>
            <a href="http://{{website}}">Website</a>
        </p>
    </body>
</html>
